In [1]:
dir

In [2]:
import pandas as pd

In [3]:
import seaborn as sns

In [4]:
ls

 Volume in drive D has no label.
 Volume Serial Number is 2E11-DE9C

 Directory of D:\Projects\Ipl

07-12-2019  00:36    <DIR>          .
07-12-2019  00:36    <DIR>          ..
07-12-2019  00:36    <DIR>          .ipynb_checkpoints
06-12-2019  23:57            26,982 Experiment.ipynb
07-12-2019  00:30    <DIR>          IPL_2008_2019
               1 File(s)         26,982 bytes
               4 Dir(s)  177,488,805,888 bytes free

In [10]:
df=pd.read_csv("IPL_2008_2019/1082593.csv")

In [11]:
df.head(20)

,Inning,Over,Batting_Team,Player,Non_Striker,Baller,Runs,Extra
0,1,0.1,Gujarat Lions,JJ Roy,BB McCullum,TA Boult,0,0
1,1,0.2,Gujarat Lions,JJ Roy,BB McCullum,TA Boult,4,0
2,1,0.3,Gujarat Lions,JJ Roy,BB McCullum,TA Boult,0,0
3,1,0.4,Gujarat Lions,JJ Roy,BB McCullum,TA Boult,0,0
4,1,0.5,Gujarat Lions,JJ Roy,BB McCullum,TA Boult,4,0
5,1,0.6,Gujarat Lions,JJ Roy,BB McCullum,TA Boult,0,0
6,1,1.1,Gujarat Lions,BB McCullum,JJ Roy,PP Chawla,1,0
7,1,1.2,Gujarat Lions,JJ Roy,BB McCullum,PP Chawla,0,0
8,1,1.3,Gujarat Lions,JJ Roy,BB McCullum,PP Chawla,4,0
9,1,1.4,Gujarat Lions,JJ Roy,BB McCullum,PP Chawla,0,1
10,1,1.5,Gujarat Lions,JJ Roy,BB McCullum,PP Chawla,0,0
11,1,1.6,Gujarat Lions,JJ Roy,BB McCullum,PP Chawla,1,0
12,1,1.7,Gujarat Lions,BB McCullum,JJ Roy,PP Chawla,1,0
13,1,2.1,Gujarat Lions,BB McCullum,JJ Roy,SP Narine,0,0
14,1,2.2,Gujarat Lions,BB McCullum,JJ Roy,SP Narine,4,0
15,1,2.3,Gujarat Lions,BB McCullum,JJ Roy,SP Narine,0,0
16,1,2.4,Gujarat Lions,BB McCullum,JJ Roy,SP Narine,1,0
17,1,2.5,Gujarat Lions,JJ Roy,BB McCullum,SP Narine,1,0
18,1,2.6,Gujarat Lions,BB McCullum,JJ Roy,SP Narine,0,0
19,1,3.1,Gujarat Lions,JJ Roy,BB McCullum,PP Chawla,0,0

In [12]:
df.tail()

,Inning,Over,Batting_Team,Player,Non_Striker,Baller,Runs,Extra
213,2,14.3,Kolkata Knight Riders,CA Lynn,G Gambhir,DS Kulkarni,4,0
214,2,14.4,Kolkata Knight Riders,CA Lynn,G Gambhir,DS Kulkarni,6,0
215,2,14.5,Kolkata Knight Riders,CA Lynn,G Gambhir,DS Kulkarni,0,1
216,2,14.6,Kolkata Knight Riders,CA Lynn,G Gambhir,DS Kulkarni,2,0
217,2,14.7,Kolkata Knight Riders,CA Lynn,G Gambhir,DS Kulkarni,2,0