In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
ls

 Volume in drive D has no label.
 Volume Serial Number is 2E11-DE9C

 Directory of D:\Projects\Ipl

07-12-2019  01:22    <DIR>          .
07-12-2019  01:22    <DIR>          ..
07-12-2019  01:05    <DIR>          .ipynb_checkpoints
07-12-2019  01:22            10,606 Experiment.ipynb
07-12-2019  01:05                 0 hello.py
07-12-2019  00:30    <DIR>          IPL_2008_2019
               2 File(s)         10,606 bytes
               4 Dir(s)  177,488,793,600 bytes free

In [4]:
df=pd.read_csv("IPL_2008_2019/1082592.csv")

In [5]:
df.head()

   Inning  Over    Batting_Team      Player Non_Striker    Baller  Runs  Extra
0       1   0.1  Mumbai Indians    PA Patel  JC Buttler  AB Dinda     0      1
1       1   0.2  Mumbai Indians    PA Patel  JC Buttler  AB Dinda     0      0
2       1   0.3  Mumbai Indians    PA Patel  JC Buttler  AB Dinda     1      0
3       1   0.4  Mumbai Indians  JC Buttler    PA Patel  AB Dinda     5      0
4       1   0.5  Mumbai Indians    PA Patel  JC Buttler  AB Dinda     4      0

In [6]:
teams=df["Batting_Team"].unique()  # playing teams  
print(teams)

team_1=df[df["Batting_Team"]==teams[0]]
team_2=df[df["Batting_Team"]==teams[1]]

['Mumbai Indians' 'Rising Pune Supergiant']

In [7]:
team1_bat=team_1["Player"].unique()      # 1st  Teams  batsmen
team2_bat=team_2["Player"].unique()      # 2nd  Teams  batsmen
print(innings1_bat)
print(innings2_bat)

NameError: name 'innings1_bat' is not defined

In [ ]:
team1_ball=team_2["Baller"].unique()      # 1nd  Teams bowlers
team2_ball=team_1["Baller"].unique()      # 2nd  Teams bowlers
print(innings1_ball)
print(innings2_ball)

In [ ]:
team1_score=team_1["Runs"].sum()
team2_score=team_2["Runs"].sum()
print(team1_score)
print(team2_score)

In [23]:

def team_pscore(team_bat,team):
    pscore=pd.DataFrame(columns=["Names","score"])
    for index,name in enumerate(team_bat):
        score=team[team["Player"]==name]["Runs"].sum()
        pscore.loc[index]=name,str(score)
    print(pscore)
    return pscore
team1_pscore=team_pscore(team1_bat,team_1)
team2_pscore=team_pscore(team2_bat,team_2)

        Names score
0    PA Patel    19
1  JC Buttler    38
2   RG Sharma     3
3      N Rana    34
4   AT Rayudu    10
5   KH Pandya     3
6  KA Pollard    27
7   HH Pandya    35
8  TG Southee     7
        Names score
0   AM Rahane    60
1  MA Agarwal     6
2   SPD Smith    84
3   BA Stokes    21
4    MS Dhoni    12

(        Names score
 0    PA Patel    19
 1  JC Buttler    38
 2   RG Sharma     3
 3      N Rana    34
 4   AT Rayudu    10
 5   KH Pandya     3
 6  KA Pollard    27
 7   HH Pandya    35
 8  TG Southee     7,         Names score
 0   AM Rahane    60
 1  MA Agarwal     6
 2   SPD Smith    84
 3   BA Stokes    21
 4    MS Dhoni    12)